extends ../layout

block content
  h3 TaskGroups
  p
  input.create(type='button', value='Create New')
  #entityForm
    include _form
    
  #entityList
    table.table
      tr
        th Name
        th Config
        th Enabled
        th
      for row in rows  
        tr
          td= row.name
          td= row.config
          td= row.enabled
          td
            a.editButton(href='#{editPath(resource, row)}') Edit
            a.deleteButton(href='#{deletePath(resource, row)}') Remove

